.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.header {
  background-color: #2b2d31;
  height: 100%;
  flex: 0.33;
}

.body {
  background-color: #313338;
  height: 100%;
  flex: 0.67;
}

.logOut {
  width: 180px;
  height: 32px;
  font-size: 16px;
  color: #b5bac1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;
  float: right;
  margin: 60px 15px 0 0;
  cursor: pointer;
}

.logOut:hover {
  background-color: #393c41;
  border-radius: 4px;
}

.accountWrap {
  margin: 60px 0 0 40px;
}

.cardWrap {
  display: flex;
  gap: 20px;
}

.title {
  font-size: 20px;
  color: #f2f3f5;
  margin: 0 0 20px 0;
}

.card {
  width: 660px;
  height: 200px;
  background-color: #3ca45c;
  position: relative;
  border-radius: 8px;
}

.cardBtm {
  width: 100%;
  height: 90px;
  background-color: #1e1f22;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 8px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profileWrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  height: 100%;
  padding: 0 0 45px 13px;
}

.profile {
  min-width: 80px;
  min-height: 80px;
  border: solid 6px #1e1f22;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3ca45c;
}

.icon {
  width: 45px;
  height: 45px;
  color: white;
}

.name {
  color: #f2f3f5;
  font-size: 20px;
  margin-top: 10px;
  border: none;
}

.nameInput {
  color: #f2f3f5;
  background-color: #383a40;
  padding: 5px;
  width: auto;
  border-radius: 4px;
  font-size: 20px;
  margin-top: 10px;
  border: none;
}

.edit {
  display: flex;
  flex-direction: column;
  margin-top: 19px;
}

.editAction {
  font-size: 12px;
  color: #dbdee1;
}

.esc,
.enter {
  color: #00a8fc;
  cursor: pointer;
}

.esc:hover,
.enter:hover {
  text-decoration: underline;
}

.dot {
  font-size: 10px;
}

.changeName {
  background-color: #5865f2;
  padding: 2px 16px;
  color: white;
  font-size: 14px;
  width: 180px;
  height: 32px;
  text-align: center;
  line-height: 27px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s ease;
  margin: 0 15px 33px;
}

.changeName:hover {
  background-color: #4752c4;
}

.escWrap {
  color: #b5bac1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: -40px;
  cursor: pointer;
}

.circle:hover .escWrap {
  color: rgba(255, 255, 255, 0.884);
}
.circle:hover {
  background-color: #b5bac117;
}

.txt {
  font-size: 13px;
}

.circle {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  border: solid 2px #b5bac1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rmWrap {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #b5bac1;
  margin-top: 40px;
}

.rmTitle {
  font-weight: bold;
  font-size: 12px;
}

.rmSubtitle {
  font-size: 14px;
}
.rmAccount {
  background-color: #da373c;
  color: white;
  font-size: 14px;
  padding: 2px 16px;
  width: 125px;
  height: 35px;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.2s ease;
  margin-top: 13px;
}

.rmAccount:hover {
  background-color: #a12828;
}

.back {
  position: absolute;
  z-index: 11;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(0px);
}

.popup {
  position: absolute;
  z-index: 13;
  right: 50%;
  top: 50%;
  z-index: 111;
  transform: translate(50%, -50%);
  background-color: #2e3035;
  border-radius: 4px;
  color: white;
  width: 450px;
}

.popWrap {
  display: flex;
  flex-direction: column;
  padding: 13px 15px;
}

.popTitle {
  font-size: 20px;
  margin-bottom: 16px;
  color: #dbdee1;
}

.popSubTitle {
  font-size: 16px;
  background-color: #f0b132;
  border-radius: 4px;
  padding: 10px;
}

.inputWrap {
  display: flex;
  flex-direction: column;
}

.popupTxt {
  color: #dbdee1;
  margin: 15px 0 10px 15px;
  font-size: 12px;
  font-weight: bold;
}

.pwInput {
  margin: 0 15px 20px;
  background-color: #1e1f22;
  border: none;
  padding: 13px;
  border-radius: 4px;
  color: #dbdee1;
}

.err {
  font-size: 12px;
  color: #fa777c;
  margin: -13px 0 20px 15px;
}

.notice {
  color: #2dc770;
  font-weight: bold;
}

.noticeTxt {
  color: #dbdee1;
  font-size: 14px;
}

.popBtns {
  height: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #27292c;
  padding: 20px;
  border-radius: 0 0 4px 4px;
}

.popBtnsWrap {
  display: flex;
  gap: 20px;
}

.popBtnsWrap > div {
  height: 38px;
  padding: 2px 16px;
  text-align: center;
  font-size: 14px;
  line-height: 33px;
  border-radius: 4px;
}

.cancel {
  cursor: pointer;
}

.cancel:hover {
  text-decoration: underline;
}

.disabled {
  cursor: not-allowed;
  background-color: #da373c8e;
  color: rgb(182, 171, 171);
}

.enabled {
  cursor: pointer;
  background-color: #da373c;
}

.enabled:hover {
  background-color: #da373ca8;
}

.confirm {
  transition: 0.3s;
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
  margin-top: 10px;
}

.toggleSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4caf50;
}

input:checked + .slider:before {
  transform: translateX(25px);
}
