.loginForm {
    width: 480px;
    height: 700px;
    background-color: #313338;
    padding: 32px;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    transition: height .4s cubic-bezier(0, 0.7, 1, 1);
}

.formHeightName {
    height: 742px;
}

.formHeightPW {
    height: 724px;
}

.welcome {
    margin-bottom: 10px;
}

.inputWrap {
    margin-top: 10px;
}

.inputInfo {
    height: 0;
    opacity: 0;
    color: #f9fcff;
    font-size: 14px;
    margin-top: 7px;
    transition: .4s;
}

.showInputInfo {
    height: auto;
    opacity: 1;
}

.birthWrap {
    width: 100%;
    justify-content: space-between;
    display: flex;
}

.birth {
    background-color: #1E1F22;
    color: #989da3;
    font-size: 16px;
    padding: 10px;
    border-radius: 3px;
    border: none;
    height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: default;
}

.birth::placeholder {
    color: #989da3;
}

.birthWrap .dropWrap:nth-of-type(odd) .birth {
    max-width: 125px;
}

.birthWrap .dropWrap:nth-of-type(even) .birth {
    max-width: 144px;
}

.dropWrap {
    display: flex;
}

.dropBtn {
    display: flex;
    align-items: center;
    position: relative;
}

.downSVG {
    position: absolute;
    font-size: 23px;
    background-color: #1E1F22;
    right: 8px;
    color: #B5BAC1;
}

.agreeWrap {
    margin: 12px 0 3px;
}

.agreeTxt {
    color: #949ba4;
    font-size: 12px;
}

.agreeInfo {
    margin-bottom: 18px;
}

.agree {
    display: none;
}

.customCheckbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 32px;
}

.checkmark {
    width: 30px;
    height: 24px;
    background: none;
    border: solid 1px #949ba4;
    border-radius: 5px;
    margin-right: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
}

.agree:checked+.checkmark {
    background-color: #5865f2;
}

.checkmark svg {
    color: white;
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    font-weight: bold;
}

.agree:checked+.checkmark svg {
    display: block;
}

.goPolicy {
    font-size: 12px;
    color: #02a8fc;
}

@media (max-width: 490px) {
    .loginForm {
        width: 100vw;
        height: 100vh;
    }

    .birthWrap {
        display: flex;
        justify-content: space-between;
    }

    .birth {
        width: 25vw;
    }

    .checkmark {
        width: 30px;
        height: 20px;
    }

    .checkmark svg {
        width: 15px;
    }
}